//
//  Quality.xcconfig
//  Ex_Configuration
//
//  Created by ashok on 16/09/20.
//  Copyright © 2020 eSoft Technologies. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Server URL
ROOT_URL = http:/$()/localhost:4000

// Keys
API_KEY = 783u9djd8a_hkzos7jd804001nd

// App Settings
APP_NAME = ExConfig-QA
APP_BUNDLE_ID = com.esoftech.ExConfig.qa
